@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.otf');
    src: url('fonts/Montserrat-Light.otf') format('opentype');
}

* {
  font-family: 'Montserrat', sans-serif;
  /* display: block; */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

th {
  text-align: center;
}

table {
  border: 1px solid black;
}
.red {
  background-color: rgb(255, 0, 0, 0.5);
}

.green {
  background-color: rgb(0, 255, 0, 0.5);
}

.yellow {
  background-color: rgb(255, 255, 0, 0.5);
}

.blue {
  background-color: rgb(0, 0, 255, 0.5);
}

.center {
  text-align: center;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Header */
.page-header {
  display: block;
  /* border-bottom: 1px solid #ccc; */
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  display: none;
  left: -1.5px;
  top: 34px;
}

.dropdown:hover {
  /* background-color: green; */
  z-index: 1;
}

.dropdown span a {
  text-decoration: none;
  color: black;
}
.dropdown:hover .dropdown-content {
  background-color: #fff;
  display: block;
  cursor: pointer;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content div{
  padding: 5px;
}

.dropdown-content div:hover {
  background-color: green;
}

.schoolYear {
  position: relative;
  float: right;
  display: block;
  border-right: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

.schoolYearOptions {
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  top: 35px;
  right: 0px;
  padding: 15px;
  z-index: 3;
  white-space: nowrap;
  display: none;
}

.schoolYearOptionsLabel {
  font-weight: bold;
}

.setButton {
  background-color: green;
  padding: 5px;
  color: white;
  font-weight: bold;
  border-radius: 0 5px 0 5px;
  margin: 10px;
}
/* Content */
.page-content {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  /* background-color: rgb(0, 255, 0, 0.2); */
  width: 85%;
  height: 90%;
  overflow: auto;
}

/* ----- SIDEBAR ----- */
.page-sidebar {
  position: relative;
  display: inline-block;
  width: 15%;
  height: 100%;
  padding: 5px;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
}

.options-title {
  border-bottom: 1px solid #ccc;
}

.options-input {
  display: inline-block;
}

.options-sidebar {
  margin-left: 10px;
}

/* ----- reports.php----- */
.accordion {
  color: black;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 13px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.reportsOptions {
  border-top: 3px double #000;
  border-bottom: 3px double #000;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.reportsOptions > * {
  display: inline-block;
  margin-right: 10px;
}
/* ----- CALENDAR ----- */






/* ----- studentInfo.php ----- */
.modalContainer {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);
}

.modalInfoContainer {
  background-color: rgb(255, 251, 163);
  border-radius: 3px;
  margin: 30px;
}

.modalInfoContainer table{
  width: 100% !important;
}

.modalInfoHeader {
  border-bottom: 1px solid rgb(20, 122, 0);
}

.modalInfoContent {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  width: 100%;
}

.modalInfoFooter {

}

.modalInfoTitle {
  background-color: rgb(20, 122, 0);
  color: white;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px;
}

.modalClose {
  margin: 5px;
}

table {
  border: 1px solid black;
}

/* ----- attendance sheets ----- */
#attendanceSheet {
  /* table-layout: fixed; */
  width: 100%;
  border: 1px solid black;
}

#attendanceYearLabel {
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 2em;
}
#attendanceSheet td, #attendanceSheet th{
  /* width: auto !important; */
  white-space: nowrap;
  width: 1px;
  vertical-align: top;
  border: 1px solid #ccc;

}

#dayLabel {
  white-space: nowrap;
  text-align: center;
  width: 1px;
  font-weight: bolder;
  vertical-align: middle;
}
.row {
  display: flex;
  margin: 2px;
}

.column {
  flex: 50%;
}
.column:first{
  border-right: 1px solid #ccc;
}
.column-header {
  font-size: 1em;
  font-weight: bold;
  /* border-bottom: 1px solid #ccc; */
  text-align: center;
  color: #ccc;
}
.column-content {
  text-align: center;
  padding: 3px;
}
